{% extends "base.html" %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Feed</title>
    <style>
        .video-feed-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f0f0f0;
        }
        video {
            max-width: 100%;
            height: auto;
        }
    </style>
</head>
<body>
    <div class="video-feed-container">
        <video id="video-feed" autoplay controls></video>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var videoFeed = document.getElementById('video-feed');
            videoFeed.src = '/myapp/video_feed/';
        });
    </script>
</body>
</html>
{% endblock %}

